/* Start Documentation Section */
.documentation{
  padding: 50px;
  background-color: #F6FBFF;

}
@media(max-width:992px){
  .documentation{
    padding: 10px;
  }
  .documentation h2{ font-size: 18px !important;}
  .documentation h4{ font-size: 13px !important} 
  .documentation span { font-size: 7px !important;}
}

.documentation h2{
  font-size: 24px;
  text-transform: uppercase;
  
}
.documentation h4{
  font-size: 20px;
  color: #595F6F;
}

.documentation span{ font-size: 15px;}

/* End Documentation Section */