.videoCar{
  border-radius: 10px;
  width: 100%;
  height: 62%;
}
@media (max-width:992px){
  .inquery{
text-align: center;
  }
}
.inquery .support{
  font-weight: 500;
}

.saleForm button{
  background-color: #EC1C24;
  color: #fff;
  width: 174px;
  border-radius: 5px;
  border: none;
}
.saleForm input,.saleForm select{
  width:85%;
}
.saleForm input:focus,.saleForm select:focus{
  box-shadow: none;
  outline: none;
  /* border-color: #ced4da; */
  border-color: #ee494e;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.saleForm select:focus option{
background: red;
color: #fff;
}
.saleForm select:focus option:hover{
  background: red;
  color: #fff;
  }
.saleForm button:hover{
  color: #fff;
}
