.videoCar{
  border-radius: 10px;
  width: 100%;
  height: 62%;
}
@media (max-width:992px){
  .inquery{
text-align: center;
  }
}
.inquery .support{
  font-weight: 500;
}
.inquery p, .inquery span{
  color: #595F6F;
  font-size: 14px;
}

@media(max-width:776px){
  .saleForm .start{
margin-top: 25px;
  }
}

@media(max-width:776px){
  .formContainer{
  padding-left: 0px;
}

}

.saleForm button{
  background-color: #EC1C24;
  color: #fff;
  width: 36%;
  border-radius: 5px;
  border: none;
  padding: 10px 17px;
  font-size: 15px;
}
@media(max-width:992px){
  .addDetails{
    margin-top: 50px;
  }
  .saleForm button{
    width: 78%
  }
}
.saleForm input,.saleForm select{
  width:85%;
  padding: 10px 20px;
}
@media(max-width:992px){
  .saleForm input,.saleForm select{
    width: 100%}
    .form-text{width: 100% !important;}
  }
.saleForm input:focus,.saleForm select:focus{
  box-shadow: none;
  outline: none;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.saleForm select:focus option{
background: #EC1C24;
color: #fff;
}
.saleForm select:focus option:hover{
  background: #EC1C24;
  color: #fff;
  }
.saleForm button:hover{
  color: #fff;
}
@media(max-width:400px){
  form{
    margin-top: 100px;
    padding: 0;
  }
}

 .form-text{
    background: #EC1C24;
    color: #fff;
    width: 85%;
    margin-top: 0px;
    text-align: start;
    border-radius: 3px;
    display: block;
}